@import '~bootstrap/scss/bootstrap';

$background-color: #f0f0f0;
$black: #000;
$div-bgr-color: #ede2d8;
$error-bgr: #ebcece;
$error-text: #f00;
$success-bgr: #c6f5d0;
$success-text: #1f572b;
$white: #fff;

body {
  background-color: $background-color;
  margin: 0 20px 20px;
  text-align: center;
}

h1 {
  background-color: $black;
  border-radius: 25px;
  color: $white;
  font-family: 'Permanent Marker', sans-serif;
  margin: 20px auto;
  padding: 10px 0;
  text-align: center;
  width: 26%;
}

h4 {
  font-family: 'Permanent Marker', sans-serif;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
}

.alert-danger {
  border: 1px solid $black;
  border-radius: 25px;
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  padding: 5px 25px;
}

.alert-success {
  border: 1px solid $black;
  border-radius: 25px;
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  padding: 5px 25px;
}

.before-auth {
  text-align: center;
}

.before-auth-wrapper {
  background-color: $black;
  border: 1px solid $white;
  border-radius: 10px;

  h5 {
    color: $white;
    font-family: 'Permanent Marker', sans-serif;
    line-height: 1.5em;
  }
}
.change-pw-wrapper {
  background-color: $black;
  border: 1px solid $white;
  border-radius: 10px;

  h5 {
    color: $white;
    font-family: 'Permanent Marker', sans-serif;
    line-height: 1.5em;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;

  .btn {
    margin: 15px auto;
  }

  div {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 25px;
    flex-basis: 20%;
    padding: 20px;
  }

  select {
    margin-top: 5px;
  }
}

.sign-out {
  display: block;
  float: right;
}

.table {
  margin-top: 15px;
}
