@import '~bootstrap/scss/bootstrap';

$background-color: #f0f0f0;
$error-bgr: #ebcece;
$error-text: #f00;
$success-bgr: #c6f5d0;
$success-text: #1f572b;

body {
  background-color: $background-color;
}

.failure {
  background-color: $error-bgr;
  color: $error-text;
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  padding: 0 5px;
}

.success {
  background-color: $success-bgr;
  color: $success-text;
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  padding: 0 5px;
}
